/ banner
%section#banner.banner
  .bg-color
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .col-md-12
          .navbar-header
            %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "/"}
              -# =image_tag("ozer-logo.png", :style => "width: 140px; margin-top: -16px;", class: "img-responsive")
              .white Express Loan Rates
          #myNavbar.collapse.navbar-collapse.navbar-right
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "/"} Home
              %li
                -# %a{:href => "/about"} About
              %li
                %a{:href => "/#contact"} Contact
              %li
                %a{:href => "tel:(516)725-5312"} (516) 725-5312
              -# = form_tag(controller: :provider , action: :search) do
              -#   .form-group
              -#     %input.form-control{name: 'search', placeholder: 'Enter City, State, or Zip...'}
              -#     .input-group-btn.col-md-3
              -#       %button.btn.btn-default.search-submit{type: :submit} Submit
    .container
      .row
        .banner-info
          .banner-logo.text-center.home-banner-copy
            %h1.white Find the best rate for your loan
          .banner-text.text-center
            %h1.white Send your request and get rates immediately
            %p.home-banner-copy
              Let's start with how much you need to borrow
              %br/
              - flash.each do |key, value|
                %div{:class => "alert alert-#{key}"}
                  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                  %span{"aria-hidden" => "true"}
                  = value
              .row
                = form_tag(controller: :provider , action: :search) do
                  .form-group.col-md-4.col-md-offset-4.col-xs-10.col-xs-offset-1
                    %input.form-control{name: 'search', placeholder: 'Enter loan amount', required: true}
                    -# .form-check.form-check-inline
                    -#   %label.form-check-label
                    -#     Nursing Home
                    -#     %input.form-check-input{type:'radio',name: 'home_type', value:"Nursing Home", required: true}
                    -#   %label.form-check-label
                    -#     Assisted Living
                    -#     %input.form-check-input{type:'radio',name: 'home_type', value:"Assisted Living Facility", required: true}
                    -#   %label.form-check-label
                    -#     Both
                    -#     %input.form-check-input{type:'radio',name: 'home_type', value:"", required: true, checked:true}
                    %br
                    %button.btn.btn-default.search-submit{type: :submit} Get My Rates
          -# .overlay-detail.text-center
            -# %a{:href => "#service"}
            -#   %i.fa.fa-angle-down

            / / service
/ cta
%section#cta-1.section-padding
  .container
    .row
      .req-info-tab
        .col-md-12
          .mt-boxy-color
          .medi-info
            %h3 Request Info
            %p Let us do the leg work in finding you the best rate for your loan. Submit the form below and someone will contact you shortly.
            = form_tag(controller: :provider , action: :request_info) do
              .form-group.col-xs-10
                %input.form-control{name: 'loan_lead[name]', placeholder: 'First and Last Name', required: true, type: 'text'}
                %input.form-control{name: 'loan_lead[email]', placeholder: 'Email', required: true, type: 'text'}
                %input.form-control{name: 'loan_lead[number]', placeholder: 'Phone Number', required: true, type: 'text'}
                %br
                %input.form-control{name: 'loan_lead[company_name]', placeholder: 'Company Name', required: true, type: 'text'}
                -# %input.form-control{name: 'web_referral', type:'hidden', value: "ozerfinance"}
                -# %input.form-control{name: 'company_name', placeholder: 'Annual Sales', required: true, type: 'number', min: 100000}
                %select.form-control{ :name => "loan_lead[annual_sales]" }
                  %option{:value => ""}= "Annual Sales"
                  %option{:value => 1}= "~ $100,000"
                  %option{:value => 2}= "$100,000 ~ $250,000"   
                  %option{:value => 3}= "$250,000 ~ $500,000"
                  %option{:value => 4}= "$500,000 ~ $1,000,000"   
                  %option{:value => 5}= "$1,000,000 ~"    
                %input.form-control{name: 'loan_lead[years_in_business]', placeholder: 'Years in Business', required: true, type: 'number'}   
                %br
                %br
                %button.form-control.btn.btn-default.search-submit{type: :submit} Submit

/ / banner
/ service
%section#service.section-padding
  .container
    .row
      .col-md-4.col-sm-4
        %h2.ser-title Choose your loan
        %hr.botm-line/
        %p Many businesses need cash fast for POs, to expand, emergencies, or general opperations. Banks take time to process your application, fund you the loan, and have high intrest rates. Many go to alternative lenders but they get overcharged. We believe you should be able to see all your loan options before deciding on one.

      .col-md-4.col-sm-4
        .service-info
          .icon
            %i.fa.fa-clock-o
          .icon-info
            %h4 24 Hour Response
            %p We pride ourselves on how quickly we can have your loan approved with low rates. Our goal is to send you up to five loan quotes within 24 hours.
        .service-info
          .icon
            %i.fa.fa-money
          .icon-info
            %h4 Save Money
            %p Save up to 30% by compairing your options instead of going with traditional lenders.

      .col-md-4.col-sm-4
        .service-info
          .icon
            %i.fa.fa-check-square-o
          .icon-info
            %h4 Qualify in Minutes
            %p You can qualify in minutes without searching for the right lender or filling out paperwork. Leave the legwork to us!
        .service-info
          .icon
            %i.fa.fa-thumbs-up
          .icon-info
            %h4 Build Credit
            %p You can build your credit by getting a loan that won't drown you in interest. Get a loan you can afford!

/ cta
/ about
%section#testimonial.section-padding
  .container
    .row
      .col-md-3.col-sm-4.col-xs-12
        .section-title
          %h2.head-title.lg-line
            Infomrative Articles
            %br/
          %hr.botm-line/
          %p.sec-para Do your research before deciding which loan is best for your business. These are some helpful articles that can help you make the right choice.
      .col-md-9.col-sm-8.col-xs-12
        .col-sm-9.more-features-box{:style => "visibility: visible;"}
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://smallbusiness.chron.com/calculate-business-loan-payments-236.html", :target => "_blank", :title=>"Lowest Business loan rate"}
                  How to Calculate Your Business Loan Payments
              %p A helpful guide on the best way to pay back your business loan.
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.moneysense.ca/save/tips-for-negotiating-a-lower-interest-rate-on-a-loan/", :target=>"_blank", :title=>"lowest business Loan Rate"}
                  Negotiate A Better Rate On Your Loan
              %p Tips for negotiating a lower interest rate on a loan.
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.entrepreneur.com/article/244873", :target => "_blank", :title=>"lowest business Loan Rate"}
                  Know Your Business Loan Options
              %p The 7 Different Loans You Can Get as a Business Owner
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.score.org/blog/25-small-business-loan-terms-you-need-know", :target => "_blank", :title=>"lowest business Loan Rate"}
                  Learn the Loan Lingo
              %p 25 Small Business Loan Terms You Need to Know
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.thebalance.com/options-for-when-you-cannot-make-a-loan-payment-4083188", :target => "_blank", :title=>"lowest business Loan Rate"}
                  How to Get Back on Track
              %p What you can do when you can't make a loan payment
/ / about
/ State List
-# %section.section-padding.state-section
-#   .container
-#     .row
-#       %h2 Senior Homes By State
-#       %hr.bottom-line

-#     .row
-#       %ul.state-list.list-inline
-#         -@states.each do |key, val|
-#           %li
-#             %a{:href => "/adult-home-finder/adult-homes/#{val}", :title=>"Assisted Living Facility Nursing Home in #{val}"}
-#               =val
-#   %hr

/ cta
/ contact
%section#contact.section-padding
  .container
    .row
      .col-md-12
        %h2.ser-title Contact us
        %hr.botm-line/
      .col-md-4.col-sm-4
        %h3
        .space
        %p
          Want to add your agency to our list of lenders? Have a general question? Contact us through the form and someone will reach out to you within 24-48 hours.

      .col-md-8.col-sm-8.marb20
        .contact-info
          %h3.cnt-ttl Send us any questions or comments
          .space
          #sendmessage Your message has been sent. Thank you!
          #errormessage
          %form.contactForm{ controller: :provider, :action => "send_contact_form", :method => "post", :role => "form"}
            .form-group
              %input#name.form-control.br-radius-zero{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Name", :type => "text"}/
              .validation
            .form-group
              %input#email.form-control.br-radius-zero{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Email", :type => "email"}/
              .validation
            .form-group
              %input#number.form-control.br-radius-zero{"data-msg" => "Please enter a valid phone number", "data-rule" => "minlen:10", :name => "number", :placeholder => "Phone Number", :type => "tel"}/
              .validation
            .form-group
              %input#location.form-control.br-radius-zero{:name => "location", :placeholder => "Zip Code (optional)", :type => "text"}
            .form-group
              %input#subject.form-control.br-radius-zero{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
              .validation
            .form-group
              %textarea.form-control.br-radius-zero{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
              .validation
            .form-action
              %button.form-control.btn.btn-default.search-submit{type: :submit} Submit

:javascript
  $("#search").on('click', function(){
    var searchInput = $('#search-input').val();
    $.ajax({
      method: "POST",
      url: "/provider/search/"+searchInput
    })
  })

%script{:type=>"application/ld+json"}
  :plain
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.adulthomefinder.com/",
      "logo": "http://www.adulthomefinder.com/favicon.ico",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://www.adulthomefinder.com/provider/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
